# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env & local envs
venv/
.venv/
.env
.env*
.env.*

# Alembic
alembic/versions/*.pyc

# OS / IDEs
.DS_Store
.vscode/
.idea/

# Logs
*.log

# Fichiers accidentels lies a des serveurs
root@*
